autostart/   
discord/             
gtk-2.0/
Kvantum/             
pamac/            
pulse/          
ranger/         
user-dirs.dirs    
yay/
cairo-dock/  
discordcanary/  
fontconfig/    
manjaro-hello.json  
papirus-folders/  
qt5ct/                    
user-dirs.locale
Code/        
Electron/       
font-manager/  
htop/     
mimeapps.list       
pavucontrol.ini  
qtile/            
volumeicon/
dconf/       
falkon/         
geeqie/        
Mousepad/                    
QtProject.conf  
Thunar/         
xfce4/
