//@theme "/home/drako/.local/share/rofi/themes/rounded-yellow-dark.rasi"
//@theme "/home/drako/.local/share/rofi/themes/rounded-green-dark.rasi"
//@theme "/home/drako/.local/share/rofi/themes/rounded-red-dark.rasi"
@theme "/home/drako/.local/share/rofi/themes/rounded-purple-dark.rasi"
